<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fetch using MySQL and Node.js</title>
</head>
<body>
    <div class="table-data">
<h2>Display Data using Node.js & MySQL</h2>
    <table border="1">
        <tr>
            <th>Card/Check</th>
            <th>First Four #'s</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Category</th>
        </tr>

        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=data.payment_type %></td>
            <td><%=data.payment_from %></td>
            <td><%=data.amount %></td>
            <td><%=data.date %></td>
            <td><%=category %></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>